name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  workflow_dispatch:

jobs:
  run-ci:
    uses: IngsisPrintScript/workflows-and-actions/.github/workflows/printscript-ci.yml@main
    with:
      java-version: "21"
